@import "variables";
@import "normalize";
@import "mixin";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

body {
  max-width: 1366px;
  margin: 0 auto;
}

ul li {
  list-style: none;
  display: inline-block;
}

p {
  color: $grey;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.7px;
}

section .section_head {
  padding-top: 83px;
  text-align: center;

  h2 {
    color: #333b46;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 30px;
  }

  p {
    max-width: 460px;
    margin: 0 auto;
  }
}

header {
  padding-top: 270px;
  background: url("../img/bg_top.png") no-repeat, url("../img/layer_bg_top.png");
  background-size: cover;
  width: 100%;
  min-height: 737px;
  position: relative;
  text-align: center;

  .header_img {
    position: absolute;
    top: 47px;
    left: 97px;
  }

  .header_menu {
    position: absolute;
    right: 85px;
    top: 40px;

    ul {

      li {

        a {
          text-decoration: none;
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          margin: 14px;
          line-height: 30px;
        }

        &:hover {
          margin: -1px;
          border-radius: 20px;
          border: 1px solid #fff;
        }
      }
    }
  }

  h1 {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 35px;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 10px;
  }

  p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    max-width: 610px;
    margin: 0 auto;
  }

  .anchor {
    a {
      width: 36px;
      height: 36px;
      display: block;
      position: absolute;
      bottom: 77px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

section.portfolio {
  background-color: #f3f3f3;
  padding-bottom: 100px;

  .section_head {
    margin-bottom: 73px;
  }

  ul {
    text-align: center;
    margin-bottom: 73px;

    li {
      color: #464646;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      margin-right: 30px;
      position: relative;

      button {
        border: none;
        background-color: inherit;
      }

      &:after {
        content: url("../img/hover_line.png");
        position: absolute;
        top: 17px;
        left: 29%;
        display: none;
      }

      &:hover::after {
        display: block;
      }

      &:nth-child(5) {
        margin-right: 0;
      }
    }
  }

  .isotop {
    margin: 0 auto;
    text-align: center;

    .portfolio_images {
      img {
        display: block;
        margin: 10px;
      }
    }
  }
}

section.portfolio .img-wrapper, .grid-sizer {
  width: 25%;
}

section.portfolio .img-wrapper.small {
  width: 40%;
}

section.portfolio .img-wrapper.big {
  width: calc(60% - 10px);
}

section.portfolio .img-wrapper:first-child {
  margin-right: 10px;
}

section.team {
  padding-bottom: 170px;

  .section_head {
    margin-bottom: 62px;
  }

  #team_slider {
    max-width: 75%;
    margin: 0 auto;

    .team_slider_slide1,
    .team_slider_slide2,
    .team_slider_slide3 {
      @include flexbox();
      @include justify-content($value: space-between);

      .team_slider_slide1_text {
        max-width: 40%;
        text-align: right;

        h3 {
          color: #464646;
          font-family: "Open Sans", sans-serif;
          font-size: 20px;
          letter-spacing: 0.8px;
          margin-bottom: 15px;
        }

        h4 {
          color: $grey;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 14px;
          font-style: italic;
          line-height: 25px;
          text-transform: uppercase;
          letter-spacing: 1.4px;
          margin-bottom: 32px;
        }

        p{
          text-align: right;
        }
      }
    }
  }
}

section.already {
  min-height: 201px;
  background: url("../img/contact_us_bg1.png"), url("../img/bg_3.png"), url("../img/contact_us_bg.png");
  text-align: center;
  padding-top: 58px;

  p {
    font-size: 20px;
    letter-spacing: 0.8px;
    color: #fff;
    margin-bottom: 40px;
  }

  button {
    font-size: 16px;
    background-color: inherit;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    border-radius: 19px;


    a {
      text-decoration: none;
      color: #fff;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      margin: 35px;
      line-height: 30px;

      &:hover {
        color: #00c89b;
      }
    }
  }
}

section.test {
  background-color: #f3f3f3;
  padding-bottom: 100px;

  .section_head {
    margin-bottom: 60px;
  }

  #test_slider {
    max-width: 85%;
    margin: 0 auto;
    background-color: #fff;
    min-height: 316px;

    .test_slider_slide1,
    .test_slider_slide2,
    .test_slider_slide3 {
      min-height: 316px;
      @include flexbox();
      @include justify-content($value: space-between);

      img {
        margin-top: 52px;
        margin-left: 96px;
      }

      .test_slider_slide1_text {
        max-width: 64%;
        margin-right: 121px;
        margin-top: 59px;

        p{
          text-align: left;
          margin-bottom: 20px;
          font-size: 16px;
          line-height: 28px;
          letter-spacing: 0.8px;
        }

        h3 {
          color: #19bd9a;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 700;
          line-height: 20px;
          text-transform: uppercase;
          letter-spacing: 0.64px;
        }

        h4 {
          color: #464646;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          line-height: 20px;
          text-transform: uppercase;
          letter-spacing: 0.56px;
        }
      }
    }
  }
}

section.contact_us {
  text-align: center;

  #map {
    height: 400px;
    margin-bottom: 72px;
  }

  img {
    display: block;
    margin: 0 auto 24px;
  }

  p {
    margin-bottom: 37px;
  }

  ul {
    li{
      margin-right: 5px;
      img {
        &:hover {
          border-radius: 50%;
          box-shadow: 2px 2px 3px grey;
        }
      }
    }
  }
}


